<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.runfang.yuyin.yuyinback.dao.UserMapper">
  <resultMap id="BaseResultMap" type="me.runfang.yuyin.yuyinback.domain.core.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="location" jdbcType="INTEGER" property="location" />
    <result column="signature" jdbcType="VARCHAR" property="signature" />
    <result column="portrait_url" jdbcType="VARCHAR" property="portrait_url" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password, nickname, location, signature, portrait_url, email
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="countUserSelective" parameterType="User" resultType="int">
    select count(*) from USER
    <where>
      <if test="username != null and username != ''">
        AND username = #{username,jdbcType=VARCHAR}
      </if>
      <if test="password != null and password != ''">
        AND password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="nickname != null and nickname != ''">
        AND nickname = #{nickname,jdbcType=VARCHAR}
      </if>
      <if test="location != null and location != ''">
        AND location = #{location,jdbcType=INTEGER}
      </if>
      <if test="signature != null and signature != ''">
        AND signature = #{signature,jdbcType=VARCHAR}
      </if>
      <if test="portrait_url != null and portrait_url != ''">
        AND portrait_url = #{portrait_url,jdbcType=VARCHAR}
      </if>
      <if test="email != null and email != ''">
        AND email = #{email,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="me.runfang.yuyin.yuyinback.domain.core.User">
    insert into user (id, username, password, 
      nickname, location, signature, 
      portrait_url, email)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{location,jdbcType=INTEGER}, #{signature,jdbcType=VARCHAR}, 
      #{portrait_url,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="me.runfang.yuyin.yuyinback.domain.core.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="signature != null">
        signature,
      </if>
      <if test="portrait_url != null">
        portrait_url,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=INTEGER},
      </if>
      <if test="signature != null">
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="portrait_url != null">
        #{portrait_url,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.runfang.yuyin.yuyinback.domain.core.User">
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=INTEGER},
      </if>
      <if test="signature != null">
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="portrait_url != null">
        portrait_url = #{portrait_url,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.runfang.yuyin.yuyinback.domain.core.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      location = #{location,jdbcType=INTEGER},
      signature = #{signature,jdbcType=VARCHAR},
      portrait_url = #{portrait_url,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>